body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

button, input, select {
    border: 0;
    outline: none;
    background: 0;
}

button {
    cursor: pointer;
}

:focus {
    border: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-style: normal;
}

p, a {
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    height: inherit;
    margin: 0 auto;
    max-width: 1180px;
    position: relative;
}

.hideContainer {
    max-width: 1200px;
}
  
.center {
    align-items: center;
}

.logo {
    position: absolute;
    left: 0;
    top: 20%;
    left: 2%;
    margin: 0 auto;
}

.absolutediv {
    position: absolute;
    height: auto;
    top: 15em;
    margin: 0 auto;
    user-select: none;
    order: 99999;
}

.second_absdv {
    top: 12.9em;
}

.white {
    color: white;
}

.noMB {
    margin-bottom: 0 !important;
}

.noMT {
    margin-top: 0;
}

.hideLogo {
    top: 13%;
}

a {
    cursor: pointer;
    outline: none;
}

.emailLink {
    width: auto;
    color: rgba(80, 140, 190, 1);
    cursor: pointer;
}

.emailLink:hover {
    background: rgba(80, 140, 190, 1);
    color: white;
}

.MB {
    margin-bottom: 4em;
}

.sFS {
    font-size: 1.4em;
}